html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Georgia, serif;
  font-size: 11px;
  line-height: 1;
}

body {
  background: url(/img/textures/land-2-1x.jpg) no-repeat center center;
  background-size: cover;
}

h1 {
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 13px;
}

p {
  margin: 10px 0;
  color: #426661;
}

#index {
  height: 100%;
  width: 100%;
  background: rgba(166,147,117,0.5);
  display: flex;
  justify-content: space-around;
}

#index a {
  padding: 20px;
  display: block;
  align-self: center;
  flex-grow: 2;
  color: #333;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

#index a:first-child {
  flex-grow: 1;
}

#index a:hover {
  opacity: 0.5;
}

#index a i {
  font-size: 64px;
}

#map {
  height: 100%;
  width: 100%;
  color: #fff;
}

#coords {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 6px 7px;
  background: #fff;
  border: 5px solid #fff;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  color: #222;
  font-weight: bold;
}

.gm-style-iw {
  color: #222;
}
